<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="../logs/nlog_internal.log">

	<targets>
		<!-- ファイル -->
		<!-- 
		name - rules の出力先に設定するために任意の名前を指定
		xsi:type - ファイルへ出力するためのタイプ ”File” を指定
		encoding - ファイル出力のエンコーディングを指定
		writeBom - BOM(バイトオーダーマーク)の有り無しを指定
		lineEnding - OSに合わせた改行コードが指定。Default(OSに合わせる), CR, CRLF, LF, None から選択。
		layout - ログのフォーマットを指定
		fileName - ログファイルの出力先を指定。{processname} 変数でプロセス名をファイルに名とする。
		archiveFileName - バックアップ先のファイル名を指定。{###} 変数は数字の連番になります。
		archiveEvery - 指定の時間でログファイルを切替。Day, Hour, Minute, Month, None など
		archiveNumbering - 連番の番号の付け方
		maxArchiveFile - 保存するアーカイブファイルの最大数を指定。デフォルトは 0。
		-->
		<target name="logFile"
                xsi:type="File"
                encoding="UTF-8"
                writeBom="true"
                lineEnding="Default"
                layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message} ${exception:format=tostring}"
                fileName="${basedir}/logs/${processname}.log"
                archiveFileName="${basedir}/logs/backup/${processname}_{#}.log"
                archiveEvery="Day"
                archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="10" />

		<!-- Console -->
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=-5} ${message}" />

		<!-- Viewer(Log2Console, etc...) -->
		<target name="tcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logFile" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="tcpOutlet" />
	</rules>
</nlog>